</div>
	<div class="sos_links_tel">
		<div class="block_inner">
			<div class="logo_footer"><img src="img/logo.svg" alt=""></div>
			<div class="menu_links">
				<ul>
					<li><a href="">О нас</a></li>
					<li><a href="">Контакты</a></li>
					<li><a href="">Новости</a></li>
					<li><a href="">Карта сайта</a></li>
				</ul>
			</div>
			<div class="soc_block">
				<a href="">
					<img src="files/soc1.svg" alt="">
				</a>
				<a href="">
					<img src="files/soc2.svg" alt="">
				</a>
				<a href="">
					<img src="files/soc3.svg" alt="">
				</a>
				<a href="">
					<img src="files/soc4.svg" alt="">
				</a>
			</div>
			<div class="short_phone">
				<a href="tel:1165"><img src="files/phone.svg" alt=""></a>
			</div>
			<a href="#footer" class="btn_footer"></a>
		</div>
	</div>
	<footer class="footer" id="footer">
		<div class="footer_top">
			<div class="block_inner">
				<div class="menu_one">
					<div class="title">О нас</div>
					<ul>
						<li><a href="">Ораганы управления</a></li>
						<li><a href="">Филиалы</a></li>
						<li><a href="">Вакансии</a></li>
						<li><a href="">Тендеры</a></li>
						<li><a href="">Нормативная база</a></li>
						<li><a href="">Объявления</a></li>
						<li><a href="">Контакты</a></li>
						<li><a href="">Структура организации</a></li>
						<li><a href="">Открытые данные</a></li>
						<li><a href="">Международные партнеры</a></li>
						<li><a href="">Мероприятия</a></li>
						<li><a href="">Государственные награды</a></li>
						<li><a href="">Статистика</a></li>
						<li><a href="">Истоиия почты</a></li>
					</ul>
				</div>
				<div class="menu_two">
					<div class="title">Интерактивные услуги</div>
					<ul>
						<li><a href="">Поиск регистрируемых почтовых отправлении</a></li>
						<li><a href="">Курьерская служба</a></li>
						<li><a href="">Каталог марок</a></li>
						<li><a href="">Поиск отделений почтовой связи</a></li>
						<li><a href="">Интернет-подписка</a></li>
						<li><a href="">Единая национальная система по учету корреспондеций</a></li>
					</ul>
				</div>
				<div class="menu_three">
					<div class="title">Акционерам</div>
					<ul>
						<li><a href="">Устав Общества</a></li>
						<li><a href="">Ежеквартальные отчеты</a></li>
						<li><a href="">Годовые отчеты</a></li>
						<li><a href="">Существенные факты</a></li>
						<li><a href="">Сведения об эмитенте</a></li>
						<li><a href="">Объявления</a></li>
						<li><a href="">Дивиденты</a></li>
						<li><a href="">Исходящий обмен</a></li>
						<li><a href="">Уголок акционеров</a></li>
						<li><a href="">Внутренние документы</a></li>
						<li><a href="">Выпуск ценных бумаг</a></li>
						<li><a href="">Выполнение бизнес-плана</a></li>
					</ul>
				</div>
				<div class="footer_contacts">
					<div class="ph_foot icon">
						<a href="tel:60050">60050</a>
						<div class="ph_text">Бесплатно с мобильного</div>
					</div>
					<div class="ph_foot">
						<a href="tel:97 222-55-55">97 222-55-55</a>
						<div class="ph_text">для звонков по Узбекистану</div>
					</div>
					<div class="all_link"><a href="#">Все контакты</a></div>
					<div class="apps_link">
						<div class="app_title">Все функции сайта доступны в мобильном приложений.</div>
						<a href="#">
							<span class="icon">
								<img src="files/appstore.svg" alt="">
							</span>
							<span class="name">App Store</span>
						</a>
						<a href="#">
							<span class="icon">
								<img src="files/gp.svg" alt="">
							</span>
							<span class="name">Google play</span>
						</a>
						<a href="#">
							<span class="icon">
								<img src="files/ag.svg" alt="">
							</span>
							<span class="name">AppGallery</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bottom">
			<div class="block_inner">
				<div class="copy">© Акционерное Общество "Узбекистон Почтаси" — 2022</div>
				<div class="map_link">
					<a href="#">Карта сайта</a>
				</div>
				<div class="soc_footer">
					<a href="#">
						<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M20.4283 29.3776V19.3126H23.2067L23.5749 15.8442H20.4283L20.433 14.1082C20.433 13.2036 20.519 12.7188 21.8183 12.7188H23.5552V9.25H20.7764C17.4387 9.25 16.2639 10.9326 16.2639 13.7621V15.8446H14.1833V19.313H16.2639V29.3776H20.4283Z" fill="#183E98"/>
						</svg>
					</a>
					<a href="#">
						<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M18.5009 8.6333C15.8212 8.6333 15.4849 8.64502 14.4325 8.69291C13.3821 8.74101 12.6651 8.90731 12.0377 9.15131C11.3888 9.40332 10.8383 9.74043 10.2899 10.2891C9.74105 10.8375 9.40394 11.388 9.1511 12.0367C8.90649 12.6643 8.73999 13.3815 8.69271 14.4315C8.64563 15.4839 8.6333 15.8204 8.6333 18.5001C8.6333 21.1797 8.64522 21.515 8.69291 22.5674C8.74122 23.6178 8.90751 24.3348 9.15131 24.9622C9.40353 25.6111 9.74064 26.1616 10.2893 26.71C10.8375 27.2589 11.388 27.5968 12.0365 27.8488C12.6643 28.0928 13.3815 28.2591 14.4317 28.3072C15.4841 28.3551 15.8202 28.3668 18.4997 28.3668C21.1795 28.3668 21.5148 28.3551 22.5672 28.3072C23.6176 28.2591 24.3354 28.0928 24.9632 27.8488C25.612 27.5968 26.1616 27.2589 26.7098 26.71C27.2587 26.1616 27.5958 25.6111 27.8486 24.9624C28.0912 24.3348 28.2577 23.6176 28.307 22.5676C28.3543 21.5152 28.3666 21.1797 28.3666 18.5001C28.3666 15.8204 28.3543 15.4841 28.307 14.4317C28.2577 13.3813 28.0912 12.6643 27.8486 12.0369C27.5958 11.388 27.2587 10.8375 26.7098 10.2891C26.161 9.74023 25.6122 9.40311 24.9626 9.15131C24.3336 8.90731 23.6162 8.74101 22.5658 8.69291C21.5133 8.64502 21.1783 8.6333 18.4978 8.6333H18.5009ZM18.172 10.4113H18.1721L18.5009 10.4114C21.1353 10.4114 21.4476 10.4208 22.4879 10.4681C23.4499 10.5121 23.972 10.6728 24.3198 10.8079C24.7803 10.9867 25.1086 11.2005 25.4537 11.5458C25.799 11.8912 26.0128 12.2201 26.192 12.6805C26.3271 13.0279 26.4881 13.55 26.5318 14.512C26.5791 15.5521 26.5894 15.8646 26.5894 18.4978C26.5894 21.131 26.5791 21.4434 26.5318 22.4835C26.4878 23.4456 26.3271 23.9677 26.192 24.3151C26.0132 24.7755 25.799 25.1034 25.4537 25.4485C25.1083 25.7938 24.7805 26.0076 24.3198 26.1865C23.9724 26.3221 23.4499 26.4825 22.4879 26.5265C21.4478 26.5737 21.1353 26.584 18.5009 26.584C15.8663 26.584 15.554 26.5737 14.5139 26.5265C13.5519 26.4821 13.0298 26.3213 12.6818 26.1863C12.2213 26.0074 11.8924 25.7936 11.5471 25.4483C11.2018 25.103 10.988 24.7749 10.8087 24.3142C10.6737 23.9669 10.5127 23.4447 10.4689 22.4827C10.4217 21.4426 10.4122 21.1302 10.4122 18.4953C10.4122 15.8605 10.4217 15.5497 10.4689 14.5096C10.5129 13.5475 10.6737 13.0254 10.8087 12.6776C10.9876 12.2172 11.2018 11.8883 11.5471 11.5429C11.8924 11.1976 12.2213 10.9838 12.6818 10.8046C13.0296 10.6689 13.5519 10.5086 14.5139 10.4644C15.4241 10.4233 15.7769 10.4109 17.6158 10.4089V10.4114C17.7876 10.4111 17.9725 10.4112 18.172 10.4113H18.172H18.172ZM22.5837 13.2332C22.5837 12.5794 23.114 12.0496 23.7677 12.0496V12.0492C24.4214 12.0492 24.9517 12.5796 24.9517 13.2332C24.9517 13.8869 24.4214 14.4173 23.7677 14.4173C23.114 14.4173 22.5837 13.8869 22.5837 13.2332ZM18.5007 13.433C15.7025 13.4332 13.4339 15.7019 13.4339 18.5C13.4339 21.2983 15.7026 23.566 18.5009 23.566C21.2992 23.566 23.5671 21.2983 23.5671 18.5C23.5671 15.7018 21.299 13.433 18.5007 13.433ZM21.7898 18.5001C21.7898 16.6836 20.3172 15.2112 18.5009 15.2112C16.6844 15.2112 15.212 16.6836 15.212 18.5001C15.212 20.3164 16.6844 21.789 18.5009 21.789C20.3172 21.789 21.7898 20.3164 21.7898 18.5001Z" fill="#183E98"/>
						</svg>
					</a>
					<a href="#">
						<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.7691 14.1408C16.8389 10.4704 12.3558 10.4704 10.4256 12.3056C8.49543 14.1408 7.87876 17.8105 9.80893 21.4816C11.1594 24.2319 15.8708 26.9884 18.7691 28.8199C21.6674 26.9884 26.3788 24.2319 27.7293 21.4816C29.6594 17.8105 29.0428 14.1408 27.1126 12.3056C25.1824 10.4704 20.6993 10.4704 18.7691 14.1408Z" fill="#183E98"/>
						</svg>
					</a>
					<a href="#">
						<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M18.4874 18.797C21.2154 18.797 23.433 16.6561 23.433 14.0242C23.433 11.3915 21.2154 9.25 18.4874 9.25C15.7599 9.25 13.5418 11.3915 13.5418 14.0242C13.5418 16.6561 15.7599 18.797 18.4874 18.797ZM18.4874 12.0478C19.6166 12.0478 20.5351 12.9342 20.5351 14.0242C20.5351 15.1134 19.6166 16.0003 18.4874 16.0003C17.3591 16.0003 16.4397 15.1134 16.4397 14.0242C16.4397 12.9342 17.3591 12.0478 18.4874 12.0478ZM23.3728 21.5456C22.4786 22.0877 21.5077 22.4722 20.501 22.6936L23.2657 25.3626C23.8321 25.9082 23.8321 26.7942 23.2657 27.3404C22.6999 27.8865 21.7829 27.8865 21.2177 27.3404L18.4994 24.7176L15.7835 27.3404C15.5004 27.6132 15.1293 27.7497 14.7582 27.7497C14.3877 27.7497 14.0172 27.6132 13.734 27.3404C13.1683 26.7942 13.1683 25.9088 13.7335 25.3626L16.4985 22.6936C15.4918 22.4722 14.5209 22.0871 13.6266 21.5456C12.9499 21.1337 12.7466 20.2708 13.173 19.6169C13.5982 18.9622 14.4925 18.7651 15.1704 19.177C17.1951 20.4064 19.8032 20.4067 21.8291 19.177C22.507 18.7651 23.401 18.9622 23.8271 19.6169C24.2535 20.2702 24.0496 21.1337 23.3728 21.5456Z" fill="#183E98"/>
						</svg>
					</a>
					<a href="#">
						<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.4232 22.2635L15.1084 26.9793C15.5709 26.9793 15.7753 26.7678 16.0334 26.5168L18.2555 24.3561L22.8784 27.7716C23.7292 28.241 24.3432 27.9979 24.5552 26.9817L27.5899 12.6807C27.9006 11.435 27.1151 10.87 26.3012 11.2396L8.48106 18.1109C7.26467 18.5988 7.27176 19.2774 8.25934 19.5798L12.8324 21.0071L23.4195 14.3279C23.9193 14.0248 24.378 14.1877 24.0015 14.5219L15.4229 22.2633L15.4232 22.2635Z" fill="#183E98"/>
						</svg>
					</a>
					<a href="#">
						<svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M26.2095 12.1402C27.0586 12.3732 27.7273 13.0598 27.9543 13.9316C28.3666 15.5116 28.3666 18.8085 28.3666 18.8085C28.3666 18.8085 28.3666 22.1052 27.9543 23.6854C27.7273 24.5572 27.0586 25.2437 26.2095 25.4768C24.6708 25.9001 18.5 25.9001 18.5 25.9001C18.5 25.9001 12.3292 25.9001 10.7903 25.4768C9.94119 25.2437 9.2725 24.5572 9.04557 23.6854C8.6333 22.1052 8.6333 18.8085 8.6333 18.8085C8.6333 18.8085 8.6333 15.5116 9.04557 13.9316C9.2725 13.0598 9.94119 12.3732 10.7903 12.1402C12.3292 11.7168 18.5 11.7168 18.5 11.7168C18.5 11.7168 24.6708 11.7168 26.2095 12.1402ZM16.65 16.0334V22.2001L21.5833 19.1169L16.65 16.0334Z" fill="#183E98"/>
						</svg>
					</a>
				</div>
			</div>
		</div>			
	</footer>
</div> 
<div class="form-popup-wrapper contacts_popup">
	<div class="formExtraWrapper">
		<div class="form-b">
			<div class="title">Contacts</div>
			<div class="phone">
				<a href="tel:+7 (495) 123-45-67">+7 (495) 123-45-67</a>
			</div>
			<div class="email">
				<a href="mailto:info@2vjobs.com">info@2vjobs.com</a>
			</div>
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<div class="form-popup-wrapper code_form">
	<div class="formExtraWrapper">
		<div class="form-b">
			<form action="">
				<div class="title">Оформите заявку </div>
				<div class="field">
					<input type="text" placeholder="Полное имя">
				</div>
				<div class="field">
					<input type="text" placeholder="Номер телефона">
				</div>
				<input class="btn" type="submit" value="Отправить">
			</form>         
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<script src="js/main.js" async></script>
</body>
</html>