include _header_inner.jade		
	<div class="content_center_wr padding_block">
		<div class="block_inner">
			<div class="content_inner_col branches_page">
				<div class="left_menu profil_user">
					<div class="profil_left">
						<div class="title_pr">Мой профиль</div>
						<div class="name_pr">Makhkamov Bekhzodkhon</div>
						<div class="edit_pr"><a href="#">Редактировать профиль</a></div>
					</div>
					<ul>
						<li class="opened">
							<a href="">Отправления</a>
							<ul>
								<li><a href="">Новое отправление</a></li>
								<li class="opened"><a href="">Мои отправления</a></li>
							</ul>
						</li>
						<li><a href="">Платежная сиестема AVVAL</a></li>
						<li><a href="">Обращения</a></li>
					</ul>
				</div>
				<div class="right_content">
					<div class="content_title_wr">
						<h1>Мои отправления</h1>
					</div>
					<div class="list_departures">
						<div class="list_departures_inner">
							<div class="title_departures">
								<div class="id">Номер заказа</div>
								<div class="type">Тип отправления</div>
								<div class="address">Адрес доставки</div>
								<div class="time">Время создания</div>
								<div class="status">Статус</div>
							</div>
							<div class="body_departures">
								<div class="row_departures">
									<div class="id">CA9938247128UZ</div>
									<div class="type">Посылка</div>
									<div class="address">1279 Quiet Gate Front, Tucson, MD</div>
									<div class="time">05/01/2022 13:24</div>
									<div class="status notpaid">Не оплачено</div>
								</div>
								<div class="row_departures">
									<div class="id">CA9938247128UZ</div>
									<div class="type">Посылка</div>
									<div class="address">1167 Quaking Acres, Phoenix, TX</div>
									<div class="time">05/01/2022 13:24</div>
									<div class="status notpaid">Не оплачено</div>
								</div>
								<div class="row_departures">
									<div class="id">CA9938247128UZ</div>
									<div class="type">Посылка</div>
									<div class="address">1279 Quiet Gate Front, Tucson, MD</div>
									<div class="time">05/01/2022 13:24</div>
									<div class="status notpaid">Не оплачено</div>
								</div>
								<div class="row_departures">
									<div class="id">CA9938247128UZ</div>
									<div class="type">Посылка</div>
									<div class="address">1029 Green Grove, Tucson, FL</div>
									<div class="time">05/01/2022 13:24</div>
									<div class="status notpaid">Не оплачено</div>
								</div>
								<div class="row_departures">
									<div class="id">CA9938247128UZ</div>
									<div class="type">Посылка</div>
									<div class="address">1117 Silver Quail Mews, Phoenix, TN</div>
									<div class="time">05/01/2022 13:24</div>
									<div class="status notpaid">Не оплачено</div>
								</div>
							</div>
						</div>
					</div>
					<div class="btn_right_list">
						<a href="" class="btn">Подтвердить</a>
					</div>
				</div>
			</div>
		</div>
	</div>			
include _footer_inner.jade