include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">Мы хотим быть ближе <br>к вам, и для этого создали <br>еддиный колл-центр</div>
				<a href="" class="btn">Онлайн звонок</a>
			</div>
			<div class="right">
				<img src="files/phone_icon.svg" alt="">
			</div>
		</div>
	</div>		
	<div class="path_block_wr">
		<div class="block_inner">
			<a href="/">Главная</a><span class="sepr"></span><a href="">О нас</a><span class="sepr"></span>Контакты	
		</div>
	</div>			
	<div class="content_center_wr">
		<div class="block_inner">
			<div class="title_name">Частые вопросы</div>
			<div class="accor_wr">
				<div class="accor_block">
					<div class="accor_name">Как отследить мою посылку?</div>
					<div class="accor_body">
						<div class="accor_inner">
							<div class="ph_left">
								<a href="#" class="btn">Отследить на сайте</a>
							</div>
							<div class="ph_block">
								<div class="name_ph">Или по телефону</div>
								<div class="ph">
									<a href="tel:712370270">(71) 237-0270</a>
								</div>
								<div class="ph_text">Для звонков по Узбекистану бесплатно</div>
							</div>
						</div>
					</div>
				</div>
				<div class="accor_block">
					<div class="accor_name">Как записаться на приём?</div>
					<div class="accor_body">
						<div class="accor_inner">
							<div class="ph_left">
								<a href="#" class="btn">Онлайн запись на сайте</a>
							</div>
							<div class="ph_block">
								<div class="name_ph">Или по телефону</div>
								<div class="ph">
									<a href="tel:712370270">(71) 237-0270</a>
								</div>
								<div class="ph_text">Для звонков по Узбекистану бесплатно</div>
							</div>
						</div>
					</div>
				</div>
				<div class="accor_block">
					<div class="accor_name">Уточнить местоположение почтового отправления в вашем регионе</div>
					<div class="accor_body">
						<div class="accor_inner">
							<div class="ph_left">
								<a href="#" class="btn">Показать на карте</a>
							</div>
							<div class="ph_block">
								<div class="name_ph">Или по телефону</div>
								<div class="ph">
									<a href="tel:712370270">(71) 237-0270</a>
								</div>
								<div class="ph_text">Для звонков по Узбекистану бесплатно</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="contacts_block">
				<h1>Контакты</h1>
				<div class="inner">
					<div class="block_item">
						<div class="name_item">Информация о посылке</div>
						<div class="item_in">
							<div class="title_item">По вопросам мониторинга прохождения почтовых отправлений:</div>
							<div class="item_ph">
								<a href="tel:(71) 237-0270">(71) 237-0270</a>
							</div>
							<div class="item_text">Для звонков по Узбекистану</div>
						</div>
						<div class="item_in">
							<div class="title_item">По вопросам мониторинга прохождения почтовых отправлений:</div>
							<div class="item_ph">
								<a href="tel:(71) 237-0270">(71) 237-0270</a>
							</div>
						</div>
					</div>
					<div class="block_item">
						<div class="name_item">Денежные переводы</div>
						<div class="item_in">
							<div class="title_item">По вопросам электронных денежных переводов:</div>
							<div class="item_ph">
								<a href="tel:(71) 237-1624">(71) 237-1624</a>
							</div>
							<div class="item_text">Для звонков по Узбекистану</div>
						</div>
						<div class="item_in">
							<div class="title_item">По вопросам электронных денежных переводов:</div>
							<div class="item_ph">
								<a href="tel:(71) 237-1624">(71) 237-1624</a>
							</div>
						</div>
					</div>
					<div class="block_item">
						<div class="name_item">Информация о посылке</div>
						<div class="item_in">
							<div class="title_item">По вопросам мониторинга прохождения почтовых отправлений:</div>
							<div class="item_ph">
								<a href="tel:(71) 237-0270">(71) 237-0270</a>
							</div>
							<div class="item_text">Для звонков по Узбекистану</div>
						</div>
						<div class="item_in">
							<div class="title_item">По вопросам мониторинга прохождения почтовых отправлений:</div>
							<div class="item_ph">
								<a href="tel:(71) 237-0270">(71) 237-0270</a>
							</div>
						</div>
					</div>
					<div class="block_item">
						<div class="name_item">Денежные переводы</div>
						<div class="item_in">
							<div class="title_item">По вопросам электронных денежных переводов:</div>
							<div class="item_ph">
								<a href="tel:(71) 237-1624">(71) 237-1624</a>
							</div>
							<div class="item_text">Для звонков по Узбекистану</div>
						</div>
						<div class="item_in">
							<div class="title_item">По вопросам электронных денежных переводов:</div>
							<div class="item_ph">
								<a href="tel:(71) 237-1624">(71) 237-1624</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>				
include _footer_inner.jade