include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">Персональный <br>кабинет</div>
			</div>
			<div class="right">
				<img src="files/icon_card.svg" alt="">
			</div>
		</div>
	</div>				
	<div class="content_center_wr ">
		<div class="block_inner">
			<div class="reg_form_wr">
				<form>
					<div class="links_form">
						<a href="#">Регистрация</a>
						<a href="#" class="active">Войти</a>
					</div>
					<div class="field">
						<div class="name_field">Номер телефона или эл. почта</div>
						<input type="text" placeholder="" required>
					</div>
					<div class="field_btn">
						<div class="link_btn">
							<div class="btn_back">Отмена</div>
						</div>
						<button class="btn">Запросить СМС-код</button>
					</div>
				</form>
			</div>
		</div>
	</div>			
include _footer_inner.jade