include _header_profil.jade
<div class="content_center_wr padding_block">
    <div class="block_inner">
        <div class="content_inner_col basket_page">
            <div class="left_form_service">
                <from class="form_service">
                    <div class="form_service_top">
                        <div class="title_step">Оформление подписки</div>
                        <div class="field required">
                            <div class="name_field">Регион *</div>
                            <select id="MasterSelRegion" onchange="funcObjProcess(this)">
                                <option value="0" disabled="disabled" selected="selected">Выберите регион</option>
                                <option value="1">Toshkent shahri</option>
                                <option value="2">Toshkent viloyati</option>
                                <option value="3">Andijon viloyati</option>
                                <option value="4">Buxoro viloyati</option>
                                <option value="5">Jizzax viloyati</option>
                                <option value="6">Qoraqalpog'iston</option>
                                <option value="7">Qashqadaryo viloyati</option>
                                <option value="8">Navoiy viloyati</option>
                                <option value="9">Namangan viloyati</option>
                                <option value="10">Samarqand viloyati</option>
                                <option value="11">Surxondaryo viloyati</option>
                                <option value="12">Sirdaryo viloyati</option>
                                <option value="13">Farg'ona viloyati</option>
                                <option value="14">Xorazm viloyati</option>
                            </select>
                        </div>
                        <div class="field required">
                            <div class="name_field">Статус *</div>
                            <select id="MasterSelClientType" onchange="funcObjProcess(this)">
                                <option value="0" disabled="disabled" selected="selected">Выберите статус</option>
                                <option value="1">Jismoniy shaxs</option>
                                <option value="2">Yuridik shaxs</option>
                            </select>
                        </div>
                        <div class="col_2">
                            <div class="field">
                                <div class="name_field">Эл. почта</div>
                                <input id="MasterTxtClientEmail" type="text" maxlength="75" placeholder="Введите данные" value="">
                            </div>
                            <div class="field">
                                <div class="name_field">Номер телефона</div>
                                <input id="MasterTxtClientPhone" type="text" maxlength="75" placeholder="" class="phone_input" value="">
                            </div>
                        </div>
                    </div>
                    <div class="form_service_bottom">
                        <div class="field">
                            <div class="name_field">Фамилия и инициалы *</div>
                            <input id="MasterTxtClientName" type="text" maxlength="50" placeholder="Введите данные" value="">
                        </div>
                        <div class="field">
                            <div class="name_field">Район, улица и дом доставки *</div>
                            <input id="MasterTxtClientAddress" type="text" maxlength="50" placeholder="Введите данные" value="">
                        </div>
                        <div class="col_3">
                            <div class="field">
                                <div class="name_field">Отделение связи *</div>
                                <select id="MasterSelPostOffice" onchange="funcObjProcess(this)" disabled="disabled">
                                    <option value="" disabled="disabled" selected="selected">Выберите значени</option>
                                </select>
                            </div>
                            <div class="field">
                                <div class="name_field">Подписная кампания *</div>
                                <select id="MasterSelCampaign" onchange="funcObjProcess(this)">
                                    <option value="0" disabled="disabled" selected="selected">Выберите значени</option>
                                    <option value="7">2021 yilga obuna kampaniyasi</option>
                                    <option value="8">2022 yilga obuna kampaniyasi</option>
                                </select>
                            </div>
                            <div class="field">
                                <div class="name_field">Подписной каталог *</div>
                                <select id="MasterSelCatalogue" onchange="funcObjProcess(this)">
                                    <option value="0" disabled="disabled" selected="selected">Выберите значени</option>
                                    <option value="1">O'zbekiston Respublikasi nashrlari</option>
                                </select>
                            </div>
                        </div>
                        <div class="col_3">
                            <div class="field">
                                <div class="name_field">Вид издания *</div>
                                <select id="MasterSelEditionType" onchange="funcObjProcess(this)">
                                    <option value="0" disabled="disabled" selected="selected">Выберите значени</option>
                                    <option value="1">Gazeta</option>
                                    <option value="2">Jurnal</option>
                                </select>
                            </div>
                            <div class="field">
                                <div class="name_field">Издание *</div>
                                <select id="MasterSelEdition" onchange="funcObjProcess(this)" disabled="disabled">
                                    <option value="" disabled="disabled" selected="selected">Выберите значени</option>
                                </select>
                            </div>
                            <div class="field">
                                <div class="name_field">Выберите месяцы *</div>
                                <select name="" id="">
                                    <option value="">Выберите значение</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                    <option value="">11</option>
                                    <option value="">12</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="btn border" type="reset">Сбросить</button>
                        <input type="button" class="btn" id="MasterBtnOrder" value="Добавить в корзину" onclick="funcObjProcess(this);">
                    </div>
                </from>
            </div>
            <div class="right_form_service">
                <div class="cart_block">
                    <div class="title">Ваши заказы</div>
                    <div class="cart_item">
                        <div class="name">
                            <span>1000 СЕКРЕТОВ</span>
                            <div class="delete"></div>
                        </div>
                        <div class="params">
                            <ul>
                                <li>
                                    <span class="name_param">Подписной индекс:</span>
                                    <span class="val">667</span>
                                </li>
                                <li>
                                    <span class="name_param">Кол-во экземпляров:</span>
                                    <span class="val">1</span>
                                </li>
                                <li>
                                    <span class="name_param">Кол-во месяцев:</span>
                                    <span class="val">5 (Июль-Декабрь)</span>
                                </li>
                                <li>
                                    <span class="name_param">Стоимость подписки:</span>
                                    <span class="val">31 750.00 сумов</span>
                                </li>
                            </ul>
                        </div>
                        <div class="summ">Итого: 76 200.00 сумов</div>
                    </div>
                    <div class="cart_item">
                        <div class="name">
                            <span>1000 СЕКРЕТОВ</span>
                            <div class="delete"></div>
                        </div>
                        <div class="params">
                            <ul>
                                <li>
                                    <span class="name_param">Подписной индекс:</span>
                                    <span class="val">667</span>
                                </li>
                                <li>
                                    <span class="name_param">Кол-во экземпляров:</span>
                                    <span class="val">1</span>
                                </li>
                                <li>
                                    <span class="name_param">Кол-во месяцев:</span>
                                    <span class="val">5 (Июль-Декабрь)</span>
                                </li>
                                <li>
                                    <span class="name_param">Стоимость подписки:</span>
                                    <span class="val">31 750.00 сумов</span>
                                </li>
                            </ul>
                        </div>
                        <div class="summ">Итого: 76 200.00 сумов</div>
                    </div>
                </div>
                <div class="total_summ">
                    <div class="name">Итого в корзине:</div>
                    <div class="total">76 200.00 сум</div>
                    <div class="btn">Оформить подписку</div>
                </div>
            </div>
        </div>
    </div>
</div>
include _footer_inner.jade