include _header.jade
	<div class="front_page_wr">
		<div class="top_banner_wr">
			<div class="block_inner">
				<div class="slider_main">
					<div class="block_inner_item">
						<a href="#" class="link"></a>
						<div class="left">
							<div class="title">Оформить и оплатить посылку теперь можно в приложении</div>
							<ul>
								<li>— Отслеживание посылок</li>
								<li>— Онлайн услуги</li>
								<li>— Оплата коммунальных услуг</li>
								<li>— Оформление посылок</li>
							</ul>
							<a href="" download class="btn">Скачать</a>
						</div>
						<div class="right">
							<img src="files/mockup.png" alt="">
						</div>
					</div>
					<div class="block_inner_item">
						<a href="#" class="link"></a>
						<div class="left">
							<div class="title">Title</div>
							<ul>
								<li>— lorem ipsum</li>
								<li>— lorem ipsum</li>
								<li>— lorem ipsumг</li>
								<li>— lorem ipsum</li>
							</ul>
							<a href="" download class="btn">Скачать</a>
						</div>
						<div class="right">
							<img src="files/mockup.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="servise_block_wr">
			<div class="block_inner">
				<a href="" class="item">
					<div class="icon">
						<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M11.4015 10.6228H13.472V5.34358H18.7219V10.6228H44.9712V5.34358H50.2211V10.6228H52.1229C53.9649 10.6228 55.471 12.1373 55.471 13.9896V21.1812V47.5772V52.8564H8.05341V47.5772V21.1812V13.9896C8.05341 12.1373 9.5595 10.6228 11.4015 10.6228ZM50.0524 47.5772V21.1812H13.3033V47.5772H50.0524ZM39.7214 37.0188H44.9712V42.298H39.7214V37.0188ZM29.2216 37.0188H34.4715V42.298H29.2216V37.0188ZM18.7219 37.0188H23.9717V42.298H18.7219V37.0188ZM39.7214 26.4604H44.9712V31.7396H39.7214V26.4604ZM29.2216 26.4604H34.4715V31.7396H29.2216V26.4604ZM18.7219 26.4604H23.9717V31.7396H18.7219V26.4604Z" fill="#183E98"/>
						</svg>					
					</div>
					<div class="name">Записатьсяна приём</div>
				</a>
				<a href="" class="item">
					<div class="icon">
						<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M10.8464 5.34399H52.8462V7.98357L47.5952 13.2627V10.6232H16.0962L16.0939 52.8576H47.5952V31.741L52.8462 26.4618V58.1367H10.8464V5.34399Z" fill="#183E98"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M18.721 29.1002L31.8456 42.2992L55.471 18.5418V10.6231L31.8456 34.3805L18.721 21.1814V29.1002Z" fill="#183E98"/>
						</svg>						
					</div>
					<div class="name">Оформить подписку</div>
				</a>
				<a href="" class="item">
					<div class="icon">
						<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M13.4712 13.2627H23.9711L31.846 5.34369L39.7209 13.2627H50.2207V15.9023L31.846 34.38L18.7212 21.1817V29.1007L31.846 42.299L50.2207 23.8213L58.0956 31.7403L50.2207 39.6593V50.218H39.7209L31.846 58.137L23.9711 50.218H13.4712V39.6593L5.59634 31.7403L13.4712 23.8213V13.2627Z" fill="#183E98"/>
						</svg>						
					</div>
					<div class="name">Учёт коррес-понденций</div>
				</a>
				<a href="" class="item">
					<div class="icon">
						<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M39.7206 26.461L44.9705 7.98335C23.1833 -8.64654 5.88482 59.2984 31.8457 58.137L37.0956 39.6593L26.5958 42.299C24.9421 34.8287 26.5958 23.8213 31.8457 18.542L39.7206 26.461Z" fill="#183E98"/>
						</svg>
					</div>
					<div class="name">Телефоны доверия</div>
				</a>
				<a href="" class="item">
					<div class="icon">
						<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M31.111 26.461H10.8463L8.22131 31.7403H18.7212L24.7061 37.0197H8.22131L5.59634 42.299H21.5036L13.4712 55.4973L31.846 43.7508L42.3721 55.4973L42.3196 37.0197L58.0956 26.461H42.3458V7.98335L37.5421 15.9023H13.4712L10.8463 21.1817H34.3134L31.111 26.461Z" fill="#183E98"/>
						</svg>						
					</div>
					<div class="name">Курьерская служба</div>
				</a>
				<a href="" class="item">
					<div class="icon">
						<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_601_1401)">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M10.8464 5.34387H52.8457V23.8214L47.596 29.1009V10.6229H16.0965L16.094 52.8578H47.596V44.9389L52.8457 39.6593V58.1373H10.8464V5.34387Z" fill="#183E98"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M57.9726 26.0693L58.4861 26.5857C59.7896 27.8965 59.7901 30.0349 58.4871 31.3462L58.0952 31.7403L52.8471 26.4624L53.2365 26.0703C54.5405 24.758 56.668 24.7575 57.9726 26.0693ZM34.4707 50.2183V44.9388L50.8453 28.4728L56.0934 33.7508L39.7204 50.2178C37.9705 50.2178 36.2206 50.2178 34.4702 50.2178L34.4707 50.2183Z" fill="#183E98"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M21.3466 15.9023H42.3462V21.1818H21.3466V15.9023Z" fill="#183E98"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M21.3466 26.4613H42.3462V31.7403H21.3466V26.4613Z" fill="#183E98"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M21.3466 37.0198H37.0966L31.8464 42.2988H21.3466V37.0198Z" fill="#183E98"/>
						</g>
						<defs>
						<clipPath id="clip0_601_1401">
						<rect width="62.9991" height="63.352" fill="white" transform="translate(0.346497 0.0643616)"/>
						</clipPath>
						</defs>
						</svg>		
					</div>
					<div class="name">Электронная таможенная декларация</div>
				</a>
			</div>
		</div>
		
	</div>
include _footer_inner.jade