include _header_inner.jade		
	<div class="content_center_wr padding_block">
		<div class="block_inner">
			<div class="content_inner_col branches_page">
				<div class="left_menu profil_user">
					<div class="profil_left">
						<div class="title_pr">Мой профиль</div>
						<div class="name_pr">Makhkamov Bekhzodkhon</div>
						<div class="edit_pr"><a href="#">Редактировать профиль</a></div>
					</div>
					<ul>
						<li class="opened">
							<a href="">Отправления</a>
							<ul>
								<li><a href="">Новое отправление</a></li>
								<li class="opened"><a href="">Мои отправления</a></li>
							</ul>
						</li>
						<li><a href="">Платежная сиестема AVVAL</a></li>
						<li><a href="">Обращения</a></li>
					</ul>
				</div>
				<div class="right_content">
					<div class="content_title_wr">
						<h1>Мой профиль</h1>
					</div>
					<div class="reg_form_wr my_profill">
						<form>
							<div class="links_form">
								<a href="#">основное</a>
								<a href="#">безопасность</a>
								<a href="#" class="active">мои адреса</a>
							</div>
							<div class="pr_address">
								<div class="name_address">Kay Fleming / (974) 697-9598</div>
								<div class="text_address">1124 Tawny Street, Oklahoma City, FL 22286</div>
								<div class="edit_address"></div>
								<div class="delete_address"></div>
							</div>
							<div class="pr_address">
								<div class="name_address">Kay Fleming / (974) 697-9598</div>
								<div class="text_address">1124 Tawny Street, Oklahoma City, FL 22286</div>
								<div class="edit_address"></div>
								<div class="delete_address"></div>
							</div>
							<div class="pr_address">
								<div class="name_address">Kay Fleming / (974) 697-9598</div>
								<div class="text_address">1124 Tawny Street, Oklahoma City, FL 22286</div>
								<div class="edit_address"></div>
								<div class="delete_address"></div>
							</div>
							<div class="pr_address">
								<div class="name_address">Kay Fleming / (974) 697-9598</div>
								<div class="text_address">1124 Tawny Street, Oklahoma City, FL 22286</div>
								<div class="edit_address"></div>
								<div class="delete_address"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="form-popup-wrapper edit_form">
		<div class="formExtraWrapper">
			<div class="form-b">
				<form action="">
					<div class="title">Изменить адрес</div>
					<div class="field">
						<div class="name_field">Страна</div>
						<input type="text" value="">
					</div>
					<div class="field">
						<div class="name_field">Область / Город</div>
						<input type="text" value="">
					</div>
					<div class="field">
						<div class="name_field">Адрес</div>
						<input type="text" value="">
					</div>
					<div class="field">
						<div class="name_field">Почтовый индекс</div>
						<input type="text" value="">
					</div>
					<div class="bottom_btn">
						<input class="btn" type="submit" value="Сохранить">
					</div>
				</form>         
			</div>
			<div class="close-form"><span></span></div>
		</div>
	</div>		
include _footer_inner.jade