include _header_inner.jade
	<div class="top_title_block card_page">
		<div class="block_inner">
			<div class="left">
				<div class="title">Каракалпакский <br>филиал</div>
				<a href="" class="btn">Показать на карте</a>
			</div>
			<div class="right">
				<img src="files/icon_card.svg" alt="">
			</div>
		</div>
	</div>		
	<div class="path_block_wr">
		<div class="block_inner">
			<a href="/">Главная</a><span class="sepr"></span>Филиалы
		</div>
	</div>			
	<div class="content_center_wr ">
		<div class="block_inner">
			<div class="content_inner_col branches_page">
				<div class="left_menu">
					<ul>
						<li>
							<a href="">Все Филиалы</a>
						</li>
						<li class="opened"><a href="">Каракалпакский филиал</a></li>
						<li><a href="">Андижанский филиал</a></li>
						<li><a href="">Бухарский филиал</a></li>
						<li><a href="">Финансовые услуги</a></li>
						<li><a href="">Джизакский филиал</a></li>
						<li><a href="">Кашкадарьинский филиал</a></li>
						<li><a href="">Навоийский филиал</a></li>
						<li><a href="">Самаркандский филиал</a></li>
						<li><a href="">Сурхандарьинский филиал</a></li>
						<li><a href="">Ферганский филиал</a></li>
						<li><a href="">Сурхандарьинский филиал</a></li>
						<li><a href="">Хорезмский филиал</a></li>
						<li><a href="">Ташкентский филиал</a></li>
						<li><a href="">"Тошкент почтамти" филиал</a></li>
						<li><a href="">"Халкаро почтамти" филиал</a></li>
						<li><a href="">"Узбекистон маркаси" филиал</a></li>
					</ul>
				</div>
				<div class="right_content">
					<div class="branches_card">
						<div class="image">
							<img src="files/card.jpg" alt="">
						</div>
						<div class="card_name">Каракалпакский филиал</div>
						<div class="card_adres">230100 город Нукус, улица Дизельная, дом 6</div>
						<a href="" class="link">Показать на карте</a>
						<div class="card_contacts">
							<div class="item_c">
								<div class="c_name">Контакты</div>
								<div class="c_ph_name">Номер телефона:</div>
								<div class="c_ph"><a href="tel:(998 61) 222-08-80">(998 61) 222-08-80</a></div>
								<div class="c_ph_name">Факс:</div>
								<div class="c_fax"><a href="tel:(998 61) 222-08-80">(998 61) 222-08-80</a></div>
							</div>
							<div class="item_c">
								<div class="c_name">График работы</div>
								<div class="c_ph_name">Рабочие дни:</div>
								<div class="c_days">
									<div class="day">Пн.</div>
									<div class="day">Вт.</div>
									<div class="day">Ср.</div>
									<div class="day">Чт.</div>
									<div class="day">Пт.</div>
									<div class="day">Сб.</div>
									<div class="day">Вс.</div>
								</div>
								<div class="c_ph_name">Рабочие часы:</div>
								<div class="c_time">09:00 — 18:00</div>
							</div>
						</div>
						<div class="block_image">
							<div class="img">
								<img src="files/c_img.jpg" alt="">
							</div>
							<div class="body">
								<h3>О филиале</h3>
								<p>2004 год - В связи с реорганизацией ГАК «Узбекистон почтаси» в открытое акционерное общества «Узбекистон почтаси» (Постановление Кабинета Министров Республики Узбекистан №339 от 19.07.04г) АООТ «Коракалпок почтаси» реорганизовано в Каракалпакский филиал  ОАО«Узбекистон почтаси». В состав Каракалпакского филиала ОАО «Узбекистон почтаси» входят 16 узлов почтовой связи. Фактическая численность сотрудников составляет 918 человек, из них почтальонов 358. Услуги почтовой связи предоставляют 214 отделений почтовой связи из них в сельской местности 173.</p>
							</div>
						</div>
						<div class="services_title">Почтовые услуги:</div>
						<div class="services_card">
							<div class="item_s">Пересылка простых, заказных писем с объявленной ценностью (внутренние и международные);</div>
							<div class="item_s">Пересылка простых, заказных писем с объявленной ценностью (внутренние и международные);</div>
							<div class="item_s">Пересылка простых, заказных писем с объявленной ценностью (внутренние и международные);</div>
							<div class="item_s">Пересылка простых, заказных писем с объявленной ценностью (внутренние и международные);</div>
							<div class="item_s">Пересылка простых, заказных писем с объявленной ценностью (внутренние и международные);</div>
							<div class="item_s">Пересылка простых, заказных писем с объявленной ценностью (внутренние и международные);</div>
							<div class="item_s">Пересылка простых, заказных писем с объявленной ценностью (внутренние и международные);</div>
							<div class="item_s">Пересылка простых, заказных писем с объявленной ценностью (внутренние и международные);</div>
							<div class="item_s">Пересылка простых, заказных писем с объявленной ценностью (внутренние и международные);</div>
						</div>
						<div class="service_item">
							<div class="name">Курьерские услуги:</div>
							<ul>
								<li>Пересылка почтовых карточек (внутренние и международные);</li>
								<li>пересылка посылок (внутренние и международные);</li>
								<li>пересылка письма (внутренние и международные);</li>
								<li>печатные издания в соответствующих упаковках (внутренние и международные).</li>
								<li>пересылка бандеролей (внутренние);</li>
							</ul>
						</div>
						<div class="service_item">
							<div class="name">Дополнительные услуги:</div>
							<ul>
								<li>Реализация почтовых марок и филателистической продукции;</li>
								<li>Пользование абонентскими ящиками;</li>
								<li>Хранение посылок;</li>
								<li>Переупаковка посылок по просьбе отправителя;</li>
								<li>Упаковка посылок и бандеролей, отправляемых населением;</li>
								<li>Реализация посылочных ящиков, коробок для упаковки бандеролей, мешков для посылок;</li>
								<li>Обшивка посылок тканью;</li>
								<li>Приём и отправка факсимильных сообщений.</li>
								<li>Написание адресов на почтовых отправлениях, заполнение почтовых бланков;</li>
							</ul>
						</div>
						<div class="service_item">
							<div class="name">Договорные услуги:</div>
							<ul>
								<li>Приём подписки на газеты, журналы, книги;</li>
								<li>Приём оплаты за коммунальные услуги и абонентской платы за городской телефон;</li>
								<li>Доставка пенсии и пособий;</li>
								<li>Реализация периодических изданий, журналов, книг;</li>
								<li>Приём и доставка телеграмм;</li>
								<li>Реализация товаров народного потребления.</li>
								<li>Предоставление междугородных, международных телефонных разговоров;</li>
							</ul>
						</div>
						<div class="service_item">
							<div class="name">Современные услуги на базе ИКТ:</div>
							<ul>
								<li>Пункты коллективного пользования Интернетом – “Интернет кафе” </li>
								<li>Реализация марок и филателистической продукции через «Интернет магазин»;</li>
								<li>Электронная почта;</li>
								<li>Предоставление информации об индексах почтовых объектов связи через веб-сайт;</li>
								<li>Копировальные работы;</li>
								<li>Предоставление информации о тарифах на услуги почтовой связи через веб-сайт;</li>
								<li>Запись данных на электронные носители информации: диск, флешка, и др.;</li>
								<li>Предоставление информации о прохождении регистрируемых почтовых отправлений через веб-сайт.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>			
include _footer_inner.jade