include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">Контакты</div>
				<a href="" class="btn">Подробнее</a>
			</div>
			<div class="right">
				<img src="files/icon_card.svg" alt="">
			</div>
		</div>
	</div>		
	<div class="path_block_wr">
		<div class="block_inner">
			<a href="/">Главная</a><span class="sepr"></span>Контакты 
		</div>
	</div>			
	<div class="content_center_wr ">
		<div class="block_inner">
			<div class="content_inner_col branches_page">
				<div class="left_menu">
					<ul>
						<li>
							<a href="">Органы управления</a>
						</li>
						<li><a href="">О деятельности</a></li>
						<li><a href="">Вакансии</a></li>
						<li><a href="">Тендеры</a></li>
						<li><a href="">Нормативная база</a></li>
						<li><a href="">Объявления</a></li>
						<li class="opened"><a href="">Контакты</a></li>
						<li><a href="">Структура организации</a></li>
						<li><a href="">Открытые данные</a></li>
						<li><a href="">Международные партнеры</a></li>
						<li><a href="">Мероприятия</a></li>
						<li><a href="">Государственные награды</a></li>
						<li><a href="">Статистика</a></li>
						<li><a href="">История почты</a></li>
					</ul>
				</div>
				<div class="right_content">
					<table class="contacs_table">
						<tbody>
							<tr>
								<td>По вопросам мониторинга прохождения почтовых отправлений. </td>
								<td>(71) 237-0270</td>
							</tr>
							<tr>
								<td>По вопросам деятельности Общества, режима работы, а также консультации по оказываемым услугам.</td>
								<td>(71) 237-0270</td>
							</tr>
							<tr>
								<td>По вопросам поступлений регистрируемых международных почтовых отправлений в Республику Узбекистан.</td>
								<td>(71) 233-6476</td>
							</tr>
							<tr>
								<td>По вопросам учета и оформления ценных бумаг.</td>
								<td>(71) 233-7998</td>
							</tr>
							<tr>
								<td>По вопросам распространения периодических изданий. </td>
								<td>(71) 233-0834</td>
							</tr>
							<tr>
								<td>По вопросам электронных денежных переводов.</td>
								<td>(71) 237-1624</td>
							</tr>
							<tr>
								<td>Рассмотрение обращений граждан.</td>
								<td>(71) 236-7296</td>
							</tr>
							<tr>
								<td>Телефон Колцентра Общества АО "Узбекистон почтаси"</td>
								<td>(71) 237-0270</td>
							</tr>
							<tr>
								<td>Приёмная Генерального директора АО "Узбекистон почтаси".</td>
								<td>(71) 236-7625</td>
							</tr>
							<tr>
								<td>Приёмная филиала "Тошкент почтамти".</td>
								<td>(71) 236-0921</td>
							</tr>
							<tr>
								<td>Информация о международных посылках.</td>
								<td>(71) 233-4749</td>
							</tr>
							<tr>
								<td>По вопросам работы сайта</td>
								<td>(71) 236-3674</td>
							</tr>
						</tbody>
					</table>
					
				</div>
			</div>	
		</div>
	</div>			
include _footer_inner.jade