include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">Ответы на все актуальные вопросы</div>
				<a href="" class="btn">Написать</a>
			</div>
			<div class="right">
				<img src="files/icon_search.svg" alt="">
			</div>
		</div>
	</div>		
	<div class="path_block_wr">
		<div class="block_inner">
			<a href="/">Главная</a><span class="sepr"></span>Отделения
		</div>
	</div>			
	<div class="content_center_wr">
		<div class="block_inner">
			<h1>Помощь по сайту</h1>
			<div class="search_page_block">
				<form>
					<input type="text" placeholder="Что будем искать?">
					<button class="search_btn"></button>
				</form>
			</div>
			<div class="content_inner_col">
				<div class="left_menu">
					<ul>
						<li>
							<a href="">Порядок упаковки</a>
							<ul>
								<li><a href="">Важно помнить</a></li>
								<li><a href="">Особенности упаковки</a></li>
							</ul>
						</li>
						<li class="opened">
							<a href="">Запрещенные к пересылке</a>
							<ul>
								<li class="opened"><a href="">Запрещенные вложения</a></li>
								<li><a href="">Примеры опасных вложений</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="right_content">
					<h2>Запрещенные вложения</h2>
					<p><strong><i>В международных почтовых отправлениях запрещается <br> пересылать:</i></strong></p>
					<div class="block_ks">
						<div class="block_k">
							<div class="image">
								<img src="files/empty.svg" alt="">
							</div>
							<strong><i>Взрывчатые вещества</i></strong>
							<p>Фейерверки, боеприпасы, порох</p>
							<p>Двигатели для макетов ракет</p>
							<p>Подушки безопасности для автомобиля</p>
						</div>
						<div class="block_k">
							<div class="image">
								<img src="files/empty.svg" alt="">
							</div>
							<strong><i>Газы</i></strong>
							<p>Аэрозоли</p>
							<p>Газовые зажигалки</p>
							<p>Баллоны сжатого газа</p>
						</div>
						<div class="block_k">
							<div class="image">
								<img src="files/empty.svg" alt="">
							</div>
							<strong><i>Взрывчатые вещества</i></strong>
							<p>Фейерверки, боеприпасы, порох</p>
							<p>Двигатели для макетов ракет</p>
							<p>Подушки безопасности для автомобиля</p>
						</div>
						<div class="block_k">
							<div class="image">
								<img src="files/empty.svg" alt="">
							</div>
							<strong><i>Газы</i></strong>
							<p>Аэрозоли</p>
							<p>Газовые зажигалки</p>
							<p>Баллоны сжатого газа</p>
						</div>
					</div>
					<h2>Примеры опасных вложений</h2>
					<div class="blocks_list">
						<div class="block_i">
							<img src="files/empty2.svg" alt="">
							<strong><i>Огнеопасные духи</i></strong>
						</div>
						<div class="block_i">
							<img src="files/empty2.svg" alt="">
							<strong><i>Огнеопасные духи</i></strong>
						</div>
						<div class="block_i">
							<img src="files/empty2.svg" alt="">
							<strong><i>Огнеопасные духи</i></strong>
						</div>
						<div class="block_i">
							<img src="files/empty2.svg" alt="">
							<strong><i>Огнеопасные духи</i></strong>
						</div>
						<div class="block_i">
							<img src="files/empty2.svg" alt="">
							<strong><i>Огнеопасные духи</i></strong>
						</div>
						<div class="block_i">
							<img src="files/empty2.svg" alt="">
							<strong><i>Огнеопасные духи</i></strong>
						</div>
						<div class="block_i">
							<img src="files/empty2.svg" alt="">
							<strong><i>Огнеопасные духи</i></strong>
						</div>
						<div class="block_i">
							<img src="files/empty2.svg" alt="">
							<strong><i>Огнеопасные духи</i></strong>
						</div>
						<div class="block_i">
							<img src="files/empty2.svg" alt="">
							<strong><i>Огнеопасные духи</i></strong>
						</div>
						<div class="block_i">
							<img src="files/empty2.svg" alt="">
							<strong><i>Огнеопасные духи</i></strong>
						</div>
						<div class="block_i">
							<img src="files/empty2.svg" alt="">
							<strong><i>Огнеопасные духи</i></strong>
						</div>
						<div class="block_i">
							<img src="files/empty2.svg" alt="">
							<strong><i>Огнеопасные духи</i></strong>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>			
include _footer_inner.jade