include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">Тендеры</div>
				<a href="" class="btn">Подробнее</a>
			</div>
			<div class="right">
				<img src="files/icon_card.svg" alt="">
			</div>
		</div>
	</div>		
	<div class="path_block_wr">
		<div class="block_inner">
			<a href="/">Главная</a><span class="sepr"></span>Тендеры 
		</div>
	</div>			
	<div class="content_center_wr ">
		<div class="block_inner">
			<div class="content_inner_col branches_page">
				<div class="left_menu">
					<ul>
						<li>
							<a href="">Органы управления</a>
						</li>
						<li><a href="">О деятельности</a></li>
						<li><a href="">Вакансии</a></li>
						<li class="opened"><a href="">Тендеры</a></li>
						<li><a href="">Нормативная база</a></li>
						<li><a href="">Объявления</a></li>
						<li><a href="">Контакты</a></li>
						<li><a href="">Структура организации</a></li>
						<li><a href="">Открытые данные</a></li>
						<li><a href="">Международные партнеры</a></li>
						<li><a href="">Мероприятия</a></li>
						<li><a href="">Государственные награды</a></li>
						<li><a href="">Статистика</a></li>
						<li><a href="">История почты</a></li>
					</ul>
				</div>
				<div class="right_content">
					<div class="new_page_item">
						<div class="name">
							<a href="#">Конкурс на поставку товаров от АО «Узбекистон почтаси»</a>
						</div>
						<div class="body">В целях реализации проекта: «Совершенствование технологических процессов приема и обработки почтовых отправлений» АО «Узбекистон почтаси» объявляет конкурс на поставку следующих товаров:</div>
						<div class="bottom">
							<a href="" class="link">Читать далее...</a>
							<div class="date">16.03.2018 г.</div>
						</div>
					</div>
					<div class="new_page_item">
						<div class="name">
							<a href="#">Определение рыночной стоимости акций общества «O'zbekiston pochtasi»</a>
						</div>
						<div class="body">В целях, выполнения требований Указа Президента Республики Узбекистан №ПФ-5349 от 19 февраля 2018 года Акционерное общество «O'zbekiston pochtasi» проводит конкурсный отбор среди независимых оценочных организаций для определения рыночной стоимости акций общества:</div>
						<div class="bottom">
							<a href="" class="link">Читать далее...</a>
							<div class="date">16.03.2018 г.</div>
						</div>
					</div>
					<div class="new_page_item">
						<div class="name">
							<a href="#">Тендер на приобретение и монтаж оборудования шумовой и тревожной сигнализации</a>
						</div>
						<div class="body">В целях принятия превентивных мер по недопущению несанкционированных проникновений и других противоправных действий в отношении работников и клиентов почтовых отделений, АО «Узбекистон почтаси» объявляет конкурс на приобретение и монтаж оборудования шумовой и тревожной сигнализации.</div>
						<div class="bottom">
							<a href="" class="link">Читать далее...</a>
							<div class="date">16.03.2018 г.</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>			
include _footer_inner.jade