include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">Ответы на все актуальные вопросы</div>
				<a href="" class="btn">Написать</a>
			</div>
			<div class="right">
				<img src="files/icon_search.svg" alt="">
			</div>
		</div>
	</div>		
	<div class="path_block_wr">
		<div class="block_inner">
			<a href="/">Главная</a><span class="sepr"></span>Отделения
		</div>
	</div>			
	<div class="content_center_wr">
		<div class="block_inner">
			<h1>Помощь по сайту</h1>
			<div class="search_page_block">
				<form>
					<input type="text" placeholder="Что будем искать?">
					<button class="search_btn"></button>
				</form>
			</div>
			<div class="content_inner_col">
				<div class="left_menu">
					<ul>
						<li class="opened">
							<a href="">Порядок упаковки</a>
							<ul>
								<li class="opened"><a href="">Важно помнить</a></li>
								<li><a href="">Особенности упаковки</a></li>
							</ul>
						</li>
						<li>
							<a href="">Запрещенные к пересылке</a>
							<ul>
								<li><a href="">Запрещенные вложения</a></li>
								<li><a href="">Примеры опасных вложений</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="right_content">
					<h2>Порядок упаковки <br>почтовых отправлений</h2>
					<p>При упаковке почтовых отправлений для пересылки учитывайте следующее:</p>
					<p>Тип упаковки выбирает отправитель в зависимости от формы и характера вложения, вида отправления с учетом времени на его доставку, а также предотвращения причинения вреда жизни и здоровью работников почтовой связи или третьих лиц, загрязнение (повреждение) других почтовых отправлений и почтового оборудования. Упаковка должна обеспечивать сохранность вложений, а также возможность беспрепятственно наносить почтовый адрес и другие отметки и обработку отправления с помощью технических средств.</p>
					<p>Упаковка почтовых отправлений предусматривает размещение вложения в тару (щик, коробку, мешок, плотная бумага, полиэтиленовую пленку и т.п.); упаковку отдельных элементов вложения, подклеивание клапанов, прорезывание вентиляционных отверстий и т.п., за выполнение которых взимается дополнительная плата в соответствии с действующими тарифами на другие услуги почтовой связи.</p>
					<p>Для упаковки внутренних почтовых отправлений могут использоваться почтовые конверты, специальные конверты из полимерных материалов (полиэтиленовые пакеты), плотная бумага, футляры, коробки, мешки, сумки, пакеты с воздушной вставкой, гофрокартоные ящики и т.п.</p>
					<h2>Особенности упаковки <br>предметов и вещей</h2>
					<div class="block_con">
						<div class="image">
							<img src="files/empty.svg" alt="">
						</div>
						<div class="body">
							<strong><i>Техника и электроника</i></strong>
							<p>Отправление подлежит дополнительной упаковке в ящик из гофрокартона. Все пустоты следует заполнить наполнителем (уплотнитель пенопластовый, воздушно-пузырчатая пленка, гофрокартон).</p>
						</div>
					</div>
					<div class="block_con">
						<div class="image">
							<img src="files/empty.svg" alt="">
						</div>
						<div class="body">
							<strong><i>Одежда и другие мягкие изделия</i></strong>
							<p>Могут упаковываться в мягкую оболочку (ткань или стретч-пленку). Вложения целесообразно предварительно обернуть полиэтиленовой пленкой или другим влагонепроницаемым материалом.</p>
						</div>
					</div>
					<div class="block_con">
						<div class="image">
							<img src="files/empty.svg" alt="">
						</div>
						<div class="body">
							<strong><i>Стеклянные или другие хрупкие предметы</i></strong>
							<p>Упаковываются в ящик, изготовленный из трехслойного гофрированного картона (каждый предмет стоит предварительно обернуть воздушно-пузырьковой пленкой), или деревянный ящик, заполненный соответствующим защитным материалом (уплотнитель пенопластовый, воздушно-пузырчатая пленка, гофрокартон и т.д.).</p>
						</div>
					</div>
					<div class="block_con">
						<div class="image">
							<img src="files/empty.svg" alt="">
						</div>
						<div class="body">
							<strong><i>Жидкости</i></strong>
							<p>Жидкости в пластиковой или металлической таре и жидкости в бутылках, в том числе те, которые сверху имеют механизм с распылителем, емкостью до 6 литров упаковываются в ящик, изготовленный из трехслойного гофрированного картона, или в два слоя стретч-пленки, чтобы не допустить утечки содержимого.</p>
						</div>
					</div>
					<div class="block_con">
						<div class="image">
							<img src="files/empty.svg" alt="">
						</div>
						<div class="body">
							<strong><i>Сухие вещества</i></strong>
							<p>Сухие красители, такие как анилиновая синька, некрасящие сухие порошки и красящие порошки упаковываются в прочные емкости (ящик, мешок). Последние также необходимо разместить в ящике.</p>
						</div>
					</div>
					<div class="block_con">
						<div class="image">
							<img src="files/empty.svg" alt="">
						</div>
						<div class="body">
							<strong><i>Сыпучие материалы</i></strong>
							<p>В зависимости от размеров начальной оболочки упаковываются в мешок или в стретч-пленку не менее чем двумя слоями.</p>
						</div>
					</div>
					<div class="block_con">
						<div class="image">
							<img src="files/empty.svg" alt="">
						</div>
						<div class="body">
							<strong><i>Живые организм</i></strong>
							<p>Живых пчел, мушек семьи дрозофил, пиявок и паразитов необходимо помещать в ящики из деревянных досок. Все стороны досок должны быть плотно закреплены между собой с помощью шурупов или гвоздей. Ящик должен иметь вентиляционное отверстие, закрытое плотной сеткой. Не допускаются повреждения самого ящика и вентиляционного отверстия. Нельзя пересылать пчел в ящиках из картона, с отверстиями в конструкции, превышающими 2 мм, крепление которых осуществлено степлером. На адресной стороне отправления делается отметка «Осторожно, пчелы». В неавтоматизированном отделении почтовой связи эта отметка делается на оболочке отправления шариковой ручкой или маркером (кроме красного, желтого и зеленого цветов) вручную.</p>
						</div>
					</div>
					<div class="block_con">
						<div class="image">
							<img src="files/empty.svg" alt="">
						</div>
						<div class="body">
							<strong><i>Точные измерительные приборы</i></strong>
							<p>Упаковываются в твердую тару с защитным материалом, предотвращающим повреждение вложения при пересылке. Приборы со стеклянными деталями упаковываются в ящики со специальным креплением.</p>
						</div>
					</div>
					<div class="block_con">
						<div class="image">
							<img src="files/empty.svg" alt="">
						</div>
						<div class="body">
							<strong><i>Свежие овощи и фрукты</i></strong>
							<p>Упаковываются в деревянные (фанеры) ящики или ящики, изготовленные из трехслойного гофрированного картона, боковые стенки которых имеют вентиляционные отверстия или вертикальные разрезы, а также в плетеные корзины с твердым устойчивым дном (кроме конусообразных), верхняя часть которых обшита прочной тканью.</p>
						</div>
					</div>
					<div class="block_con">
						<div class="image">
							<img src="files/empty.svg" alt="">
						</div>
						<div class="body">
							<strong><i>Мех и материалы животного происхождения</i></strong>
							<p>Мех и шкурки грызунов без специальной обработки, а также шерсть, щетина, волос, перо и пух при наличии ветеринарного свидетельства, выданного Государственной службой Украины по вопросам безопасности пищевых продуктов и защиты потребителей, упаковываются в ткань (мешковину) или котомку из полиэтиленовой пленки, которые вкладываются в ящики. Если на один адрес отправляется несколько таких посылок, на каждую из них подается ветеринарное свидетельство с указанием количества меха (шкурок грызунов или веса шерсти).</p>
						</div>
					</div>
					<div class="block_con">
						<div class="image">
							<img src="files/empty.svg" alt="">
						</div>
						<div class="body">
							<strong><i>Саженцы деревьев и кусты саженцев</i></strong>
							<p>Упаковываются в один слой воздушно-пузырьковой пленки или гофрокартон, которые вкладываются в гофрокартонный ящик или упаковываются в два слоя стретч-пленки в зависимости от размера саженца. Также допускается упаковка в специальные тубусы.</p>
						</div>
					</div>
					<h2>Не забывайте</h2>
					<p>Предметы, которые не складываются (чертежные доски, детские санки, автопокрышки, чемоданы, бидоны, предметы из цельного куска, как, например, куски дерева или металла, и т.д.), за исключением острых и режущих предметов, размеры и масса которых не превышают соответствующие параметры, предусмотренные Правилами оказания услуг, могут пересылаться без упаковки. В этом случае адрес получателя указывается на самом предмете.</p>
					<p>Для транспортировки отправлений больших габаритов и веса используется деревянный поддон (паллетирования отправлений), который обеспечивает целостность вложения и других отправлений</p>
					<p>Для транспортировки отправлений больших габаритов и веса, которые имеют выступающие части, или геометрические параметры, способствующие повреждению этого или других отправлений, используется деревянная обрешетка (каркас из древесины). В то же время отправление фиксируется распорками-фиксаторами. Вложения упаковываются в воздушно-пузырчатую пленку и засыпаются пенопластовым наполнителем, чтобы внутри не было пустых мест. Запрещено для упаковки использовать сплошную древесину.</p>
					<p>Неделимые предметы в фабрично-заводской упаковке (деревянных фанерных ящиках и коробках из прочного картона), которая соответствует установленным параметрам, обеспечивает сохранение вложения и не может нанести вреда другим отправлением, принимаются без дополнительной упаковки.</p>
					<p>Справка: для пересылки открытыми подаются внутренние почтовые отправления с объявленной ценностью и описью вложения. Другие внутренние письма, бандероли с объявленной ценностью и посылки могут подаваться в открытом и закрытом виде (по желанию отправителя).</p>
				</div>
			</div>
		</div>
		
	</div>			
include _footer_inner.jade