include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">Ответы на все актуальные вопросы</div>
				<a href="" class="btn">Написать</a>
			</div>
			<div class="right">
				<img src="files/icon_search.svg" alt="">
			</div>
		</div>
	</div>		
	<div class="path_block_wr">
		<div class="block_inner">
			<a href="/">Главная</a><span class="sepr"></span>Отделения
		</div>
	</div>			
	<div class="content_center_wr">
		<div class="block_inner">
			<h1>Помощь по сайту</h1>
			<div class="search_page_block">
				<form>
					<input type="text" placeholder="Что будем искать?">
					<button class="search_btn"></button>
				</form>
			</div>
			<div class="content_inner_col">
				<div class="left_menu">
					<ul>
						<li class="opened">
							<a href="">Порядок упаковки</a>
							<ul>
								<li class="opened"><a href="">Важно помнить</a></li>
								<li><a href="">Особенности упаковки</a></li>
							</ul>
						</li>
						<li>
							<a href="">Запрещенные к пересылке</a>
							<ul>
								<li><a href="">Запрещенные вложения</a></li>
								<li><a href="">Примеры опасных вложений</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="right_content">
					<h2>Инструкции пользователя</h2>
					<div class="sear_accor_block accor_block">
						<div class="sear_accor_name accor_name">Регистрация нового пользователя на веб-странице Портала</div>
						<div class="sear_accor_body accor_body">
							<p>Регистрацию нового пользователя на Портале можно оссуществлять на веб-странице Портала, а также в мобильных платформах Android и IOS, предварительно скачав приложение post.uz.</p>
							<p>Для осуществления регистрации нового пользователя на веб-странице Портала необходимо перейти по ссылке https://post.uz/ и нажать на кнопку «Войти». (Рисунок 1).</p>
							<img src="files/sear_img.png" alt="">
						</div>
					</div>
					<div class="sear_accor_block accor_block">
						<div class="sear_accor_name accor_name">Инструкция пользователя по авторизации</div>
						<div class="sear_accor_body accor_body">
							<p>Регистрацию нового пользователя на Портале можно оссуществлять на веб-странице Портала, а также в мобильных платформах Android и IOS, предварительно скачав приложение post.uz.</p>
							<p>Для осуществления регистрации нового пользователя на веб-странице Портала необходимо перейти по ссылке https://post.uz/ и нажать на кнопку «Войти». (Рисунок 1).</p>
							<img src="files/sear_img.png" alt="">
						</div>
					</div>
					<div class="sear_accor_block accor_block">
						<div class="sear_accor_name accor_name">Инструкция пользователя по заказу карты</div>
						<div class="sear_accor_body accor_body">
							<p>Регистрацию нового пользователя на Портале можно оссуществлять на веб-странице Портала, а также в мобильных платформах Android и IOS, предварительно скачав приложение post.uz.</p>
							<p>Для осуществления регистрации нового пользователя на веб-странице Портала необходимо перейти по ссылке https://post.uz/ и нажать на кнопку «Войти». (Рисунок 1).</p>
							<img src="files/sear_img.png" alt="">
						</div>
					</div>
					<div class="sear_accor_block">
						<div class="sear_accor_name accor_name">Инструкция заполнения бланка заказного письма</div>
						<div class="sear_accor_body accor_body">
							<p>Регистрацию нового пользователя на Портале можно оссуществлять на веб-странице Портала, а также в мобильных платформах Android и IOS, предварительно скачав приложение post.uz.</p>
							<p>Для осуществления регистрации нового пользователя на веб-странице Портала необходимо перейти по ссылке https://post.uz/ и нажать на кнопку «Войти». (Рисунок 1).</p>
							<img src="files/sear_img.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>			
include _footer_inner.jade