include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">Выбирайте работу, <br>которая вам по душе</div>
				<a href="" class="btn">Смотреть вакансии</a>
			</div>
			<div class="right">
				<img src="files/icon_job.svg" alt="">
			</div>
		</div>
	</div>		
	<div class="path_block_wr">
		<div class="block_inner">
			<a href="/">Главная</a><span class="sepr"></span><a href="">О нас</a><span class="sepr"></span>Вакансии	
		</div>
	</div>			
	<div class="content_center_wr">
		<div class="block_inner">
			<h1>Как начать работать?</h1>
			<div class="steps_block">
				<div class="line"></div>
				<div class="step">
					<div class="number">1</div>
					<div class="text">Выберите свой город</div>
				</div>
				<div class="step">
					<div class="number">2</div>
					<div class="text">Выберите подходящую вам вакансию</div>
				</div>
				<div class="step">
					<div class="number">3</div>
					<div class="text">Заполните информацию о себе</div>
				</div>
				<div class="step">
					<div class="number">4</div>
					<div class="text">Свами свяжется наш отдел кадров</div>
				</div>
			</div>
			<div class="jobs_block">
				<div class="item">
					<div class="image">
						<img src="files/j1.jpg" alt="">
					</div>
					<div class="name">Работа в IT</div>
					<div class="text">Развивайте проекты и упраляйте ими: вас ждут интересные задчи по тестированию, дизайну, аналитике и разработке.</div>
				</div>
				<div class="item">
					<div class="image">
						<img src="files/j2.jpg" alt="">
					</div>
					<div class="name">Бизнес процессы</div>
					<div class="text">Развивайте проекты и упраляйте ими: вас ждут интересные задчи по тестированию, дизайну, аналитике и разработке.</div>
				</div>
				<div class="item">
					<div class="image">
						<img src="files/j3.jpg" alt="">
					</div>
					<div class="name">Работа для всех</div>
					<div class="text">Развивайте проекты и упраляйте ими: вас ждут интересные задчи по тестированию, дизайну, аналитике и разработке.</div>
				</div>
			</div>		
			<div class="jobs_list_wr">
				<div class="title">Вакансии</div>
				<div class="inner">
					<div class="btn filter_btn_mobile">Фильтр</div>
					<div class="left_filter">
						<form>
							<div class="field checkbox">
								<div class="field_name">Регион</div>
								<input type="text" placeholder="Поиск региона">
								<ul>
									<li><label><input type="checkbox"><span></span>Ташкент</label></li>
									<li><label><input type="checkbox"><span></span>Ташкент</label></li>
									<li><label><input type="checkbox"><span></span>Ташкент</label></li>
									<li><label><input type="checkbox"><span></span>Ташкент</label></li>
									<li><label><input type="checkbox"><span></span>Ташкент</label></li>
									<li><label><input type="checkbox"><span></span>Ташкент</label></li>
									<li><label><input type="checkbox"><span></span>Ташкент</label></li>
									<li><label><input type="checkbox"><span></span>Ташкент</label></li>
								</ul>
							</div>
							<div class="field radio">
								<div class="field_name">Регион</div>
								<ul>
									<li><label><input type="radio" name="name"><span></span>Не имеет значения</label></li>
									<li><label><input type="radio" name="name"><span></span>От 1 года до 3 лет</label></li>
									<li><label><input type="radio" name="name"><span></span>От 3 до 6 лет</label></li>
									<li><label><input type="radio" name="name"><span></span>Нет опыта</label></li>
								</ul>
							</div>
						</form>
					</div>
					<div class="right_list">
						<div class="job_item">
							<div class="job_name">Менеджер по складской и транспортной логистике</div>
							<div class="price">2 000 000 - 3 500 000 сумов</div>
							<div class="text">Работает на условиях заключенных договоров на оказание услуги по транспортировке, хранению и грузопереработке товаров Предприятия. Контролирует срок действия договоров на... Высшее образование (экономическое, техническое). Владение английским языком приветствуется. Опыт работы специалистом по логистике (в торговых сетях, в органах по сертификации...</div>
							<div class="job_bottom">
								<a href="#" class="btn">Откликнуться</a>
								<div class="labals">
									<div class="label">Грячая вакансия</div>
									<div class="label">Опыт от 1 года</div>
								</div>
							</div>
						</div>
						<div class="job_item">
							<div class="job_name">Менеджер по складской и транспортной логистике</div>
							<div class="price">2 000 000 - 3 500 000 сумов</div>
							<div class="text">Работает на условиях заключенных договоров на оказание услуги по транспортировке, хранению и грузопереработке товаров Предприятия. Контролирует срок действия договоров на... Высшее образование (экономическое, техническое). Владение английским языком приветствуется. Опыт работы специалистом по логистике (в торговых сетях, в органах по сертификации...</div>
							<div class="job_bottom">
								<a href="#" class="btn">Откликнуться</a>
								<div class="labals">
									<div class="label">Грячая вакансия</div>
									<div class="label">Опыт от 1 года</div>
								</div>
							</div>
						</div>
						<div class="job_item">
							<div class="job_name">Менеджер по складской и транспортной логистике</div>
							<div class="price">2 000 000 - 3 500 000 сумов</div>
							<div class="text">Работает на условиях заключенных договоров на оказание услуги по транспортировке, хранению и грузопереработке товаров Предприятия. Контролирует срок действия договоров на... Высшее образование (экономическое, техническое). Владение английским языком приветствуется. Опыт работы специалистом по логистике (в торговых сетях, в органах по сертификации...</div>
							<div class="job_bottom">
								<a href="#" class="btn">Откликнуться</a>
								<div class="labals">
									<div class="label">Грячая вакансия</div>
									<div class="label">Опыт от 1 года</div>
								</div>
							</div>
						</div>
						<div class="job_item">
							<div class="job_name">Менеджер по складской и транспортной логистике</div>
							<div class="price">2 000 000 - 3 500 000 сумов</div>
							<div class="text">Работает на условиях заключенных договоров на оказание услуги по транспортировке, хранению и грузопереработке товаров Предприятия. Контролирует срок действия договоров на... Высшее образование (экономическое, техническое). Владение английским языком приветствуется. Опыт работы специалистом по логистике (в торговых сетях, в органах по сертификации...</div>
							<div class="job_bottom">
								<a href="#" class="btn">Откликнуться</a>
								<div class="labals">
									<div class="label">Грячая вакансия</div>
									<div class="label">Опыт от 1 года</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="page_list">
					<div class="arrow_p prev disable"></div>
					<div class="number">
						<input type="text" value="1">
					</div>
					<div class="arrow_p next"></div>
					<div class="pages">из 25</div>
				</div>							
			</div>					
		</div>
	</div>				
include _footer_inner.jade