include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">Персональный <br>кабинет</div>
			</div>
			<div class="right">
				<img src="files/icon_card.svg" alt="">
			</div>
		</div>
	</div>				
	<div class="content_center_wr ">
		<div class="block_inner">
			<div class="reg_form_wr">
				<form>
					<div class="links_form">
						<a href="#" class="active">Регистрация</a>
						<a href="#">Войти</a>
					</div>
					<div class="field_warning">Просим использовать латинские буквы для ввода ФИО как в паспорте</div>
					<div class="field">
						<div class="name_field">Фамилия</div>
						<input type="text" placeholder="" required>
					</div>
					<div class="field">
						<div class="name_field">Имя</div>
						<input type="text" placeholder="" required>
					</div>
					<div class="field">
						<div class="name_field">Отчество (необязательно)</div>
						<input type="text" placeholder="" required>
					</div>
					<div class="field">
						<div class="name_field">Номер телефона или эл. почта</div>
						<input type="text" placeholder="" required>
					</div>
					<div class="field">
						<div class="name_field">Пароль</div>
						<input type="password" required>
						<div class="view_pass"></div>
					</div>
					<div class="field">
						<div class="name_field">Подтвердите пароль</div>
						<input type="password" required>
						<div class="view_pass"></div>
					</div>
					<div class="field_btn">
						<div class="police">При нажатии на кнопку Регистрация вы автоматически соглашаетесь с <a href="#">Публичной офертой</a></div>
						<button type="submit" class="btn">Регистрация</button>
					</div>
				</form>
			</div>
		</div>
	</div>			
include _footer_inner.jade